* {
    scrollbar-width: thin;
}
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para la sección lateral 
    background-color: #f1f1f1;
    width: 370px;
    position: fixed;
    top: 10px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 10px;
    scrollbar-width: thin;
}

.second-section ul {
    list-style-type: none;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
    max-height: 100%;
    scrollbar-width: thin;
}

.second-section ul li {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    scrollbar-width: thin;
}

.second-section ul li a {
    color: black;
    text-decoration: none;
    scrollbar-width: thin;
} */


/* Estilos para la lista espaciada */
.spaced-list {
    list-style: none;
}

.spaced-list li {
    margin-bottom: 20px; /* Espacio entre cada elemento de la lista */
    border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
    padding-bottom: 20px; /* Espacio debajo de cada elemento */
}

/* Estilos para la imagen de perfil */
.spaced-list img {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 2px solid blue;
    display: block;
    margin: 0 auto;
}

/* Estilos para el enlace tailwindcss */
.twildcss {
    text-decoration: none;
    color: #333; /* Color de texto de los enlaces */
}

/* Estilos para el punto gris */
.dot-gray {
    width: 8px;
    height: 8px;
    background-color: #ccc; /* Color del punto gris */
    border-radius: 50%; /* Hacer el punto redondeado */
    display: inline-block;
    margin-left: 5px; /* Espacio entre el enlace y el punto */
}

/* Estilos para el botón de descarga de CV */
.bg-blue-500 {
    background-color: #4299e1; /* Color de fondo del botón */
}

.bg-blue-500:hover {
    background-color: #3182ce; /* Cambio de color al pasar el cursor */
}

.text-white {
    color: #fff; /* Color de texto del botón */
}

.font-bold {
    font-weight: bold; /* Texto en negrita */
}

.py-3 {
    padding-top: 0.75rem; /* Espacio interno vertical */
    padding-bottom: 0.75rem; /* Espacio interno vertical */
}

.px-4 {
    padding-left: 1rem; /* Espacio interno horizontal */
    padding-right: 1rem; /* Espacio interno horizontal */
}

.rounded {
    border-radius: 0.25rem; /* Bordes redondeados */
}

/* Estilos para el botón de cambio de tema oscuro */
.dark-theme-switch p {
    margin-bottom: 10px; /* Espacio debajo del texto */
}

.dark-theme-switch label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.dark-theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Color del interruptor */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* Color del punto del interruptor */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3; /* Cambio de color al estar activado */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; /* Sombra al enfocar */
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px); /* Posición del punto cuando está activado */
    -ms-transform: translateX(26px); /* Posición del punto cuando está activado */
    transform: translateX(26px); /* Posición del punto cuando está activado */
}
/* Estilos para las secciones de contenido */


.content-sub {

    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    margin-left: 415px;
}

.content-dev-sub {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 10px;
    margin-left: 415px;
}

.content-tre,
.content-for,
.content-five,
.content-six,
.content-seven,
.content-eight,
.content-nine,
.content-ten,
.content-eleven {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
}


.content-twu > section,
.content-tre > section,
.content-for > section,
.content-five > section,
.content-six > section,
.content-seven > section,
.content-eight > section,
.content-nine > section,
.content-ten > section,
.content-eleven > section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

.content-tre > section {
    width: 100%;
}

/* Estilos adicionales para dispositivos pequeños */
@media screen and (max-width: 600px) {
    
    .content-twu > section,
    .content-tre > section,
    .content-for > section,
    .content-five > section,
    .content-six > section,
    .content-seven > section,
    .content-eight > section,
    .content-nine > section,
    .content-ten > section,
    .content-eleven > section {
        width: 100%;
        margin-bottom: 20px;
    }
}

section {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

svg {
    vertical-align: unset;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-icons i {
    font-size: 3rem;
    margin: 10px;
    color: #007bff;
}

.framekwoks-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.framekwoks-icons img {
    font-size: 3rem; /* Increased icon size */
    margin: 10px;
    color: #007bff;
}

canvas#waveParticles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}
