{% extends "base.html" %}
{% block content %}
    <h1>PDF Generation</h1>
    <p>This PDF contains content from index.html transformed into a PDF.</p>
    <div class="content-twu">
        <!-- Content from index.html -->
        <i class="devicon-go-plain colored text-7x1 "></i>
        <i class="devicon-c-plain colored text-7x1"></i>
        <i class="devicon-bash-plain colored text-7x1"></i>
        <i class="devicon-java-plain colored text-7x1"></i>
        <i class="devicon-php-plain colored text-7x1"></i>
        <i class="devicon-javascript-plain colored text-7x1"></i>
    </div>
    <div class="content-eleven">
        <!-- Additional content from index.html -->
        <i class="devicon-django-plain colored text-7xl"></i>
        <i class="devicon-flask-original-wordmark colored text-7xl"></i>
        <i class="devicon-react-original-wordmark colored text-7xl"></i>
        <i class="devicon-yarn-original-wordmark colored text-7xl"></i>
        <i class="devicon-hardhat-original-wordmark colored text-7xl"></i>
    </div>
{% endblock %}

