<!DOCTYPE html>
<html lang="es">

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PortflyCrab</title>
		<meta name="description" content="Portafolio Web DevOss">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
	</head>
	
	
	
	<body>
		<nav>
			<ul>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
				<li class="change-pos"><a href="#">Mod Desktop</a></li>
				<li class="change-pos"><a href="#">Mod Tableta</a></li>
				<li class="change-pos"><a href="#">Mod Movil</a></li>
			</ul>
		</nav>

		<p> Hello Django este es mi Sistema de portafolio portafolio</p>


		
		<div class="carousel">
			<div class="carousel-item" style="background-image: url('slide1.jpg');"></div>
			<div class="carousel-item" style="background-image: url('slide2.jpg');"></div>
			<div class="carousel-item" style="background-image: url('slide3.jpg');"></div>
		</div>


		
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		<script src="" async defer></script>
	</body>
</html>






