<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programmer Portfolio</title>
    <link rel="stylesheet" href="static/defstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="#Perfil">Perfil</a></li>
            <li><a href="#Habilidades">Mis Habilidades</a></li>
            <li><a href="#Proyectos">Proyectos</a></li>
            <li><a href="#Otros">Otros</a></li>
            <li><a href="#Contactame">Sobre mi</a></li>
            <li><a href="path_to_cv.pdf" download>Download CV</a></li>
        </ul>
    </nav>

    <div class="content">
        <section id="about-me">
            <h1>About Me</h1>
            <p>Desarrollador, ingeniero e investigador a nivel científico, desarrollador del proyecto YHAxis.S</p>
        </section>

        <section id="profile">
            <h2>Perfil</h2>
            <p>Sobre mi esto es un portafolio de programador</p>
        </section>

        <section id="skills">
            <h2>Mis Habilidades</h2>
            <div class="skill-icons">
                <i class="devicon-ruby-plain colored"></i>
                <i class="devicon-python-plain colored"></i>
                <i class="devicon-haskell-plain colored"></i>
                <i class="devicon-go-plain colored"></i>
                <i class="devicon-c-plain colored"></i>
                <i class="devicon-bash-plain colored"></i>
                <i class="devicon-java-plain colored"></i>
                <i class="devicon-php-plain colored"></i>
                <i class="devicon-javascript-plain colored"></i>
            </div>
        </section>
        <section id="framework-db">
            <br>
            <div class="framekwoks-icons">
                <h1> Frameworks:</h1>  
                <!-- frameworks opcionales-->
            
                <i><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" width="75px" /> </i>
                <i><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original-wordmark.svg" width="75px"/> </i>
                <i><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg" width="75px" /> </i>
                <i><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/yarn/yarn-original-wordmark.svg" /> </i>
                <i><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hardhat/hardhat-original-wordmark.svg" /> </i>
            
                    
            </div>
        </section>
        <section id="Desarrollo">
            <div id="chain" class="mydevs">
                <h1> Gestores Base de Datos:</h1>  
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg" width="75px" />

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-original-wordmark.svg" width="75px" />
            
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" width="75px"/>
            
            </div>
            <br>  
        </section>
        <section id="web3dev">
            <div class="dev-web3">
                <h1> Web3 - blockchain </h1>  
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/solidity/solidity-original.svg" width="75px"/>
            </div>
            <br>
        </section>


        <section id="appsdev">
            <div class="appsdevelopment">
                <h1> Aplicaciones de Desarrollo</h1>

                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"  width="75px"/>
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg"  width="75px"/>
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original-wordmark.svg"  width="75px"/>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/podman/podman-original.svg"  width="75px"/>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/stackoverflow/stackoverflow-original-wordmark.svg"  width="75px"/>
            
                <br>
            </div>
            <br>
        </section>

        <section id="servers">
            <div class="servers">

            <h1> Servidores </h1>

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apache/apache-original-wordmark.svg"  width="75px"/>
            

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vercel/vercel-original-wordmark.svg"  width="75px"/>
            
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nginx/nginx-original.svg"  width="75px"/>
        
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/npm/npm-original-wordmark.svg" />
            
                
            </div>
        </section>

        <section id="projects">
            <h2>My Projects</h2>
            <p>Display your programming projects with descriptions and links.</p>
        </section>

        <section id="others">
            <h2>Others</h2>
            <p>Include any additional information or sections you want to showcase.</p>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Provide contact information and a contact form if desired.</p>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Programmer Portfolio</p>
    </footer>


    <canvas id="waveParticles"></canvas>

    <script src="waves.js"></script>
</body>
</html>
